## 1. Import the data:
## Note: replace variable 'path' to dataset :  [ner_dataset.csv](https://github.com/sriramrokkam/NLP_NER_BERT/blob/BITS/ner_dataset.csv)

In [1]:
import pandas as pd
# path = "/content/ner_dataset.csv"
path = "ner_dataset.csv"  # for local
data = pd.read_csv(path, encoding="latin1")
data.head(30)
# data = data.head(5000)  # change value for number of records.

     Sentence #           Word  POS    Tag
0   Sentence: 1      Thousands  NNS      O
1           NaN             of   IN      O
2           NaN  demonstrators  NNS      O
3           NaN           have  VBP      O
4           NaN        marched  VBN      O
5           NaN        through   IN      O
6           NaN         London  NNP  B-geo
7           NaN             to   TO      O
8           NaN        protest   VB      O
9           NaN            the   DT      O
10          NaN            war   NN      O
11          NaN             in   IN      O
12          NaN           Iraq  NNP  B-geo
13          NaN            and   CC      O
14          NaN         demand   VB      O
15          NaN            the   DT      O
16          NaN     withdrawal   NN      O
17          NaN             of   IN      O
18          NaN        British   JJ  B-gpe
19          NaN         troops  NNS      O
20          NaN           from   IN      O
21          NaN           that   DT      O
22          NaN        country   NN      O
23          NaN              .    .      O
24  Sentence: 2       Families  NNS      O
25          NaN             of   IN      O
26          NaN       soldiers  NNS      O
27          NaN         killed  VBN      O
28          NaN             in   IN      O
29          NaN            the   DT      O

## 2. Fill the missing values

In [2]:
data = data.fillna(method="ffill")
data.head(30)

/var/folders/q9/wnrxcbl10sgdk7_mkfvlm30w0000gn/T/ipykernel_31708/3644762100.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data = data.fillna(method="ffill")

     Sentence #           Word  POS    Tag
0   Sentence: 1      Thousands  NNS      O
1   Sentence: 1             of   IN      O
2   Sentence: 1  demonstrators  NNS      O
3   Sentence: 1           have  VBP      O
4   Sentence: 1        marched  VBN      O
5   Sentence: 1        through   IN      O
6   Sentence: 1         London  NNP  B-geo
7   Sentence: 1             to   TO      O
8   Sentence: 1        protest   VB      O
9   Sentence: 1            the   DT      O
10  Sentence: 1            war   NN      O
11  Sentence: 1             in   IN      O
12  Sentence: 1           Iraq  NNP  B-geo
13  Sentence: 1            and   CC      O
14  Sentence: 1         demand   VB      O
15  Sentence: 1            the   DT      O
16  Sentence: 1     withdrawal   NN      O
17  Sentence: 1             of   IN      O
18  Sentence: 1        British   JJ  B-gpe
19  Sentence: 1         troops  NNS      O
20  Sentence: 1           from   IN      O
21  Sentence: 1           that   DT      O
22  Sentence: 1        country   NN      O
23  Sentence: 1              .    .      O
24  Sentence: 2       Families  NNS      O
25  Sentence: 2             of   IN      O
26  Sentence: 2       soldiers  NNS      O
27  Sentence: 2         killed  VBN      O
28  Sentence: 2             in   IN      O
29  Sentence: 2            the   DT      O

In [3]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
data["Sentence #"] = LabelEncoder().fit_transform(data["Sentence #"])
data.head(30)

    Sentence #           Word  POS    Tag
0            0      Thousands  NNS      O
1            0             of   IN      O
2            0  demonstrators  NNS      O
3            0           have  VBP      O
4            0        marched  VBN      O
5            0        through   IN      O
6            0         London  NNP  B-geo
7            0             to   TO      O
8            0        protest   VB      O
9            0            the   DT      O
10           0            war   NN      O
11           0             in   IN      O
12           0           Iraq  NNP  B-geo
13           0            and   CC      O
14           0         demand   VB      O
15           0            the   DT      O
16           0     withdrawal   NN      O
17           0             of   IN      O
18           0        British   JJ  B-gpe
19           0         troops  NNS      O
20           0           from   IN      O
21           0           that   DT      O
22           0        country   NN      O
23           0              .    .      O
24       11111       Families  NNS      O
25       11111             of   IN      O
26       11111       soldiers  NNS      O
27       11111         killed  VBN      O
28       11111             in   IN      O
29       11111            the   DT      O

In [4]:
data.rename(columns={"Sentence #": "sentence_id",
            "Word": "words", "Tag": "labels"}, inplace=True)

## 3. Split Data: Training and Testing

In [5]:
data["labels"] = data["labels"].str.upper()

X = data[["sentence_id", "words"]]
Y = data["labels"]

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

# building up train data and test data
train_data = pd.DataFrame(
    {"sentence_id": x_train["sentence_id"], "words": x_train["words"], "labels": y_train})
test_data = pd.DataFrame(
    {"sentence_id": x_test["sentence_id"], "words": x_test["words"], "labels": y_test})
train_data

        sentence_id        words labels
458015        12161          the      O
488504        13734            a      O
346351         6495       making      O
4248          10223         Iraq  B-GEO
851840        32130       Wizard  B-ORG
...             ...          ...    ...
759520        27459         than      O
172698        43384         U.N.  B-GEO
832301        31162  strengthens      O
213976        45514      rebound      O
51724         14935           's      O

[799999 rows x 3 columns]

## 4. Build and Train Model

In [6]:
from simpletransformers.ner import NERModel, NERArgs
label = data["labels"].unique().tolist()
label

['O',
 'B-GEO',
 'B-GPE',
 'B-PER',
 'I-GEO',
 'B-ORG',
 'I-ORG',
 'B-TIM',
 'B-ART',
 'I-ART',
 'I-PER',
 'I-GPE',
 'I-TIM',
 'B-NAT',
 'B-EVE',
 'I-EVE',
 'I-NAT']

In [7]:
args = NERArgs()
args.num_train_epochs = 2
args.learning_rate = 1e-4
args.overwrite_output_dir = True
args.train_batch_size = 16
args.eval_batch_size = 16

In [8]:
model = NERModel('bert', 'bert-base-cased',
                 labels=label, args=args, use_cuda=False)

Some weights of BertForTokenClassification were not initialized from the model checkpoint at bert-base-cased and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [9]:
r = model.train_model(train_data, eval_data=test_data, acc=accuracy_score)

  0%|          | 0/13 [00:00<?, ?it/s]

Epoch:   0%|          | 0/2 [00:00<?, ?it/s]

Running Epoch 1 of 2:   0%|          | 0/2858 [00:00<?, ?it/s]

Running Epoch 2 of 2:   0%|          | 0/2858 [00:00<?, ?it/s]

In [10]:
result, model_outputs, preds_list = model.eval_model(test_data)

  0%|          | 0/13 [00:00<?, ?it/s]

Running Evaluation:   0%|          | 0/2781 [00:00<?, ?it/s]

In [17]:
# Display Results
result

{'eval_loss': 0.17601415726351144,
 'precision': 0.8257638315441783,
 'recall': 0.7713461667449192,
 'f1_score': 0.7976279239132319}

## 5. Evaluation

In [18]:
validation_sentence = [
    "They marched from the Houses of Parliament to a rally in Hyde Park ."]
prediction, model_output = model.predict(validation_sentence)

  0%|          | 0/1 [00:00<?, ?it/s]

Running Prediction:   0%|          | 0/1 [00:00<?, ?it/s]

In [19]:
prediction

[[{'They': 'O'},
  {'marched': 'O'},
  {'from': 'O'},
  {'the': 'O'},
  {'Houses': 'I-ORG'},
  {'of': 'I-ORG'},
  {'Parliament': 'B-ORG'},
  {'to': 'O'},
  {'a': 'O'},
  {'rally': 'O'},
  {'in': 'O'},
  {'Hyde': 'B-GEO'},
  {'Park': 'I-GEO'},
  {'.': 'O'}]]

## 6. Save Tokenizer and Model

In [21]:
# Save the model and tokenizer after training
# model.save_model("ner_model_v1")
import shutil
import os

# Define the model folder path
model_dir = "ner_model"

# Check if the folder exists and remove it if necessary
if os.path.exists(model_dir):
    # This will delete the existing folder and its contents
    shutil.rmtree(model_dir)

# Save the model and tokenizer after deleting the existing folder
model.save_model(model_dir)

## 7. Load the Model
## Note: 1.
1.   use_cuda = True (for GPU) and False (for CPU)
2.   Check the 'outputs' folder.
##

In [22]:
from simpletransformers.ner import NERModel

# Load the saved model
# Add the 'args' parameter to specify the configuration
model = NERModel(
    "bert",
    "outputs",
    use_cuda=False,
    # This allows you to overwrite the output directory if it already exists
    args={"overwrite_output_dir": True}
)

# 8. Compare the Results
## Note: Values should match with Section 5

In [23]:
#
predictions, raw_outputs = model.predict(validation_sentence)

# Print the predictions
print(predictions)

  0%|          | 0/1 [00:00<?, ?it/s]

Running Prediction:   0%|          | 0/1 [00:00<?, ?it/s]

[[{'They': 'O'}, {'marched': 'O'}, {'from': 'O'}, {'the': 'O'}, {'Houses': 'I-ORG'}, {'of': 'I-ORG'}, {'Parliament': 'B-ORG'}, {'to': 'O'}, {'a': 'O'}, {'rally': 'O'}, {'in': 'O'}, {'Hyde': 'B-GEO'}, {'Park': 'I-GEO'}, {'.': 'O'}]]

# 9. Build the Chat bot

In [71]:
from simpletransformers.ner import NERModel

# Load the saved model
model = NERModel("bert", "outputs", use_cuda=False)

# Function to get NER predictions from a passage


def get_ner_from_passage(passage):
    # The model expects a list of sentences
    sentences = [passage]

    # Predict named entities in the input passage
    predictions, raw_outputs = model.predict(sentences)

    # Return the predictions
    return predictions


# Chatbot loop
print("Welcome to the NER Chatbot! Enter your text or 'exit' to quit.")

while True:
    # Get input from the user
    user_input = input("You: ")

    # Exit condition
    if user_input.lower() == 'exit':
        print("Goodbye!")
        break

    # Get NER predictions
    ner_results = get_ner_from_passage(user_input)

    # Display the NER results
    print("NER Results:", ner_results)